@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  --primary-color: #669ccb;
  --primary-color-dark: #5681a7;
  --secondary-color: #e8f1fa;
  --text-dark: #282d31;
  --text-light: #767268;
  --extra-light: #f3f4f6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* ------------------------ */
/* Nav */
.navbar {
  /* background-color: var(--primary-color); */
}

.navbar-toggler {
  border: none !important;
}

.navbar a {
  color: white;
}

.navbar a:visited {
  color: white;
}

.nav-item {
  font-size: 1.25rem;
}

.navbar-brand {
  font-style: italic;
}
.offcanvas {
  background-color: darkslategrey !important;
  width: 60vw !important;
}

.logo {
  width: 200px;
  height: 50px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Hero Section------  -----Hero Section----------------Hero Section-------------Hero Section---------------------- */
.hero {
  position: relative;
  width: 100vw;
  height: 90vh;
}

.hero-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: var(--extra-light);
  padding: 2rem;
}

.hero-content p {
  font-size: calc(16px + 0.5vw);
  max-width: 700px;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the alpha (last value) for transparency */
  z-index: -1; /* Place the overlay behind the content */
}

.hero-content h1 {
  font-size: 2rem;
  font-weight: 900;
}

.hero-content p {
  text-align: center;
}

.hero-content button {
  padding: 1rem 3rem;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: darkslategrey;
  color: var(--extra-light);
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.hero-content button:hover {
  background-color: var(--primary-color-dark);
}

/* Destinations Section--------Destinations Section----------------Destinations Section-------------Destinations Section---------------------- */
.destinations {
  margin: 2rem auto;
  height: 50vh;
  width: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 640px) {
  .journey__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .display__grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .display__card {
    gap: 0;
  }

  .display__card i {
    font-size: 1.75rem;
  }

  .display__card h4 {
    font-size: 1rem;
  }

  .display__card p {
    font-size: 0.7rem;
  }
}

@media (min-width: 786px) {
  .logo {
    width: 300px;
  }

  .banner__container .section__container {
    justify-content: flex-end;
  }

  .banner__content {
    align-items: flex-end;
    text-align: right;
    max-width: 800px;
  }

  .display__card {
    gap: 0.5rem;
  }

  .display__card i {
    font-size: 2.5rem;
  }

  .display__card p {
    font-size: 0.8rem;
  }
}

@media (min-width: 1024px) {
  .nav-toggler {
    display: none;
  }

  .nav-links {
    display: flex;
  }

  .display__card {
    gap: 1rem;
  }

  .display__card i {
    font-size: 3rem;
  }

  .display__card h4 {
    font-size: 1.5rem;
  }

  .display__card p {
    font-size: 1rem;
  }
}
