@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@font-face {
  font-family: 'Ruthie';
  src: url('./assets/Ruthie-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Sketsa';
  src: url('./Sketsaramadhan-nRLAO.otf') format('opentype');
}

:root {
  --primary-color: #669ccb;
  --primary-color-dark: #5681a7;
  --secondary-color: #e8f1fa;
  --text-dark: #282d31;
  --text-light: #767268;
  --extra-light: #f3f4f6;
  --bg-subtext:rgb(59, 114, 114);
  --bg-accent: rgba(23, 187, 187, 0.169);
  --bg-primary: darkslategray;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

.section-title {
  color: darkslategray;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: calc(20px + 1vw);
}

body {
  font-family: 'Roboto', sans-serif;
}

/* ------------------------ */
/* Nav */
.navbar {
  /* background-color: var(--primary-color); */
}

.navbar-brand {
  font-family: 'Sketsa', sans-serif;
}

.navbar-toggler {
  border: none !important;
}

.navbar a {
  color: white;
}

.navbar a:visited {
  color: white;
}

.nav-item {
  font-size: 1.25rem;
}

.offcanvas {
  background-color: var(--bg-primary) !important;
  width: 60vw !important;
}

.logo {
  width: 200px;
  height: 50px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Hero Section------  -----Hero Section----------------Hero Section-------------Hero Section---------------------- */
.hero {
  position: relative;
  height: 90vh;
}

.hero-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: var(--extra-light);
  padding: 2rem;
}

.hero-content p {
  font-size: calc(16px + 0.5vw);
  max-width: 700px;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero-content h1 {
  font-size: 2rem;
  font-weight: 900;
}

.hero-content p {
  text-align: center;
}

.hero-content button {
  padding: 1rem 4rem;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: var(--bg-primary);
  color: white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: background-color 0.3s;
}

.hero-content button:hover {
  /*  background-color: var(--bg-accent); */
}

/* About section */

.about-section-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem; 
  letter-spacing: 2px;
}

.about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
 color: var(--bg-subtext);
  padding: 0 1rem;
}

.about-image-container img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-text-container {
  flex: 1;
  font-size: 21px;
  text-align: center;
  
}

.about-text-container h1 {
  font-size: 45px;
  padding: 20px 0px;
  color: darkslategray;
}

.about-text-container p {
 
  color: var(--text-primary);
  font-size: 23px;
  max-width: calc(100% - 2rem);
 
}

@media screen and (min-width: 992px) {
  .about-container {
    flex-direction: row;
    padding: 0 5rem;
    align-items: center;
    gap: 3rem;
  }

  .about-text-container p {
    text-align: left;
  }

  .about-image-container {
    max-width: 50%;
  }

  .about-text-container {
    max-width: 50%;
  }
}

@media screen and (max-width: 991px) {
  .about-text-container,
  .about-text-container p {
    font-size: 17px; 
    display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  text-align: left;
  letter-spacing: 2px;
  overflow-wrap: break-word;
  word-break: break-word;
  }
}



/* Destinations Section--------Destinations Section----------------Destinations Section-------------Destinations Section---------------------- */
.destinations {
  width: 100%;
  /*  background-color: var(--bg-accent); */
}

.destinations-swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.destination-slide {
  position: relative;
  padding-top: 4px;
  font-family: 'SketsaRamadan';
}

.destination-img-container {
  width: 100%;
  height: 400px;
}

.destination-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  width: 100%;
  font-size: 40px;
}

.destination-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-progressbar-fill {
  background-color: darkslategray !important;
}

/* Packages */
.services {
  background-color: var(--bg-accent);
}

.packages {
  position: relative;
  width: 100%;
  height: 300px;
  background: url('./assets/cmophoto-net-EmVKKf3wUZQ-unsplash.jpg') center/cover;
}

.cabs {
  position: relative;
  width: 100%;
  height: 300px;
  background: url('./assets/salah-ait-mokhtar-SROMzydmPsY-unsplash.jpg')
    center/cover;
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 1;
}

.explore {
  margin-top: 0.5rem;
  background-color: var(--bg-primary);
  color: white;
  padding: 0.7rem 2rem;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none;
  outline: none;
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  .packages,
  .cabs {
    height: 400px;
    border-radius: 15px;
  }

  .packages::after,
  .cabs::after {
    border-radius: 15px;
  }
}

.packages::after,
.cabs::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

/*===================================== FEATURES========================================= */

.row-services {
  width: 100%;
}

/* Updated class names for the three cards */
.card-services-one,
.card-services-two,
.card-services-three {
  padding: 1rem 0;
  cursor: pointer;
  text-align: center;
  max-width: 370px !important;
}

/* Updated class names for h3 and p tags within the three cards */
.card-services-one h3,
.card-services-two h3,
.card-services-three h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 1em 0;
}

.icon-wrapper-services {
  background-color: var(--bg-primary);
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: background-color 0.5s, color 0.5s;
}

.card-services-one:hover .icon-wrapper-services,
.card-services-two:hover .icon-wrapper-services,
.card-services-three:hover .icon-wrapper-services {
  background-color: #ffffff;
  color: var(--bg-primary);
}

/* Gallery */
.gallery {
  background-color: var(--bg-accent);
}

.gallery-swiper {
  width: 100%;
}

.gallery-slide a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  color: var(--bg-primary) !important;
}


/* ----------------------------------TESTMONIAL SECTION-------------------------- */
.testmonial-section-wrapper {
  width: 100%;
}
.testmonial-section-wrapper h2 {
  color: darkslategray;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.card-testmonial {
  position: relative;
  width: 100%;
  max-width: 350px;
  background-color: aliceblue;
  height: 350px;
  margin: auto;
}
.front_top {
  background-image: linear-gradient(
    to bottom,
    darkslategray,
    rgb(69, 104, 104)
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 140px;
  z-index: 10;
}

.profile_photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  z-index: 15;
  position: absolute;
  background-image: url('./assets/man.jpg');
  background-size: cover;
  background-position: center;
  left: 50%;
  transform: translate(-50%, 50%);
  bottom: 0;
  box-sizing: border-box;
  border: 4px solid #fff;
}

.profile_shadow {
  width: 100px;
  height: 100px;
  content: '';
  position: absolute;
  background-color: darkslategray;
  z-index: 9;
  left: calc(50% + 14px);
  border-radius: 50%;
  top: 40px;
  transform: translate(-50%, 50%);
}
.profile_shadow1 {
  width: 100px;
  height: 100px;
  content: '';
  position: absolute;
  background-image: linear-gradient(
    to bottom,
    darkslategray 50%,
    transparent 50%
  );
  z-index: 12;
  left: calc(50% + -14px);
  border-radius: 50%;
  top: 40px;
  transform: translate(-50%, 50%);
}
.front_top::after {
  content: '';
  position: absolute;
  width: 115px;
  height: 5px;
  background-color: darkslategray;
  left: 0;
  bottom: 0;
}
.front_top h2 {
  text-align: center;
  margin-top: 25px;
  font-size: 28px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}
.bottom_inner {
  padding-top: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bottom_inner p {
  font-size: 12px;
  text-align: center;
  margin: 0 24px;
  position: relative;
}
.bottom_inner p::before {
  content: '\f10d';
  font-family: FontAwesome;
  font-size: 20px;
  color: #025a9a;
  position: absolute;
  top: -32px;
  left: 0px;
}
.bottom_inner p::after {
  content: '\f10e';
  font-family: FontAwesome;
  font-size: 20px;
  color: #025a9a;
  position: absolute;
  bottom: -32px;
  right: 0px;
}
.content-wrapper-testmonial {
  height: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.content-wrapper-testmonial h5 {
  margin: 20px 24px 5px 24px;
  font-size: 16px;
}
.content-wrapper-testmonial .rating {
  margin-bottom: 24px;
}
.content-wrapper-testmonial .rating i {
  font-size: 12px;
  color: #fdc400;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 15px;
  margin-top: 1rem;
}

.slick-dots li button {
  color: transparent;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  border: none;
  background-color: #aadcf0;
  padding: 0;
}

.slick-dots .slick-active button {
  background-color: #025a9a;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  background-color: transparent;
  border: none;
  font-size: 32px;
  color: darkslategray;
}

.prev-arrow {
  left: 0px;
  z-index: 1;
}
.next-arrow {
  right: 0px;
}

@media screen and (max-width: 400px) {
  .bottom_inner p {
    font-size: 11px;
  }
  .slick-arrow {
    display: none !important;
  }
}

/*----------------------------- FOOTER SECTION--------------------------------------------- */

footer {
  bottom: 0;
}
@media (max-height: 800px) {
  footer {
    position: static;
  }
}
.footer-distributed {
  background-color: var(--bg-primary);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 20px 50px 10px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;
  padding-top: 18px;
}

.footer-left img {
  width: 230px;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-copyright {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: wheat;
  text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
  background-color: #3f71ea;
}

.footer-links a:hover {
  color: #3f71ea;
}
.copyright-line {
  color: white;
}
.footer-copyright {
  text-align: center;
}
@media (max-width: 880px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
