.home {
  background: linear-gradient(rgb(100 100 100 / 70%), rgba(17, 17, 17, 0.7)),
    url(../assets/cab-service/banner-bgg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.cab-content {
  color: white;
  gap: 5px;
  padding: 10px;
}

.cars {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cars-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  background-color: white;
}

.car-card {
  width: 350px;
  height: 450px;
  border: 1px solid gray;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
  background-color: whitesmoke;
}

.car-img-container {
  height: 60%;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.car-img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.car-details {
  padding: 0 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 30%;
}

.car-title {
  font-size: 1.5em;
  padding: 20px 15px 0;
}

.car-capacity,
.car-baggage {
  display: block;
  margin-bottom: 8px;
  font-size: 1em;
  padding: 7px;
}

.hero-explore {
  transition: background-color 0.3s !important;
}

.book,
.send-enquiry {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: darkslategray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.book:hover,
.send-enquiry:hover {
  background-color: var(--hover-accent);
  color: white;
}
