.main-contact-section {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
.contact-bg {
  height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url(../assets/contact/contact-bg.jpg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line div {
  margin: 0 0.2rem;
}

.info-details a {
  font-weight: bold;
  color: rgb(6, 6, 6);
  font-family: 'Times New Roman', Times, serif;
}

.contact-info {
  text-align: center;
}

.contact-info a {
  text-decoration: none;
  font-family: 'Varela Round', sans-serif;
}

.contact-info span {
  display: block;
}

.contact-info div {
  margin: 0.8rem 0;
  padding: 1rem;
}

.contact-info span .fas {
  font-size: 2rem;
  padding-bottom: 0.9rem;
  color: darkslategray;
}
.contact-info div span:nth-child(2) {
  font-weight: 500;
  font-size: 1.1rem;
}
.contact-info .text {
  padding-top: 0.4rem;
}

@media screen and (min-width: 768px) {
  .contact-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .contact-info {
    grid-template-columns: repeat(4, 1fr);
  }
}

.form-container {
  box-shadow: 0 0 2px 2px rgba(181, 178, 178, 0.555);
  border-radius: 10px;
}

.contact-img-container {
  width: 100%;
  padding-top: 2rem;
  height: 300px;
}

.contact-img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.send-enquiry {
  padding: 12px 20px;
  font-size: 1em;
  color: #fff;
  background-color: darkslategray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.send-enquiry:hover {
  background-color: var(--hover-accent);
  color: white;
}

.form-container {
  background-color: var(--bg-accent);
}

@media screen and (min-width: 992px) {
  .form-container,
  .contact-img-container {
    width: 40%;
  }

  .contact-img-container {
    padding-top: unset;
    height: unset;
  }
}
